body{
    text-align: center;
    margin: 0;
}
h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    /*
    color: #0d2c40;
    */
    letter-spacing: 1px;
    font-size: 45px;
    margin: 0;
}
a{
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    margin: 0 20px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
h2{
    font-family: "Raleway", sans-serif;
    /*
    color: #0d2c40;
    */
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
}

p {
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
}
header{
    background-color: #f15b31;
    color: #ffffff;
    padding: 30px 20px;
    margin: 0;
}
nav{
    background-color: #00a6b3;
    color: #ffffff;
    padding: 20px 0;
}
main{
    width: 850px;
    margin: 35px auto;
}
img{
    margin: 40px 8px 8px 0;

}
footer{
    text-transform: uppercase;
    padding:0 20px;
    background-color: #0d2c40;
    color: white;
    font-size: 14px;
    letter-spacing: 0.08em;
    font-weight: 500;
}
footer p{
    font-family: "Raleway", sans-serif;
}
.copyright{
    float: left;
}
.message{
    float: right;
}
.clearfix:after{
    display: block;
    clear: both;
    content: ' ';
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.name{
    color: #f15b31;
    font-weight: 700;

}
a:hover{
    border-color: white;
}
#reset_btn, #resetAll_btn{
    margin-top: 50px;
    padding: 10px 30px;
    font-size: 20px;
    background: rgb(0, 166, 179);
    border: none;
    text-align: center;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
}
#reset_btn:hover{
    background: rgba(0, 166, 179,0.7);
}
#resetAll_btn{
     background: rgb(179, 62, 28);
 }
#resetAll_btn:hover{
    background: rgba(179, 62, 28,0.7);
}




